@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$roboto: "Roboto", sans-serif;

// colors
$white: #ffffff;
$grayish: #f4f4f4;
$gray:#989898;
$cal-gray:#CACACA;
$black: #292929;
$blue: #006FCA;
$bluish:#C1E4FF;


body {
    margin: 0;
}

.container {
    width: 902px;
    margin: 0 auto;
}


// header
.header {
    background-color: $grayish;
    box-shadow: 0 0 6px $gray;

    &__section{
    display: flex;
    justify-content: space-between;

    box-sizing: border-box;
    padding: 55px 0 20px 0 ;
    }
    &__button {
        width: 80px;

        box-sizing: border-box;
        padding: 4px 0px;

        background-color: $blue;
        color: $white;
        border: none;
        border-radius: 3px;
        box-shadow: 0px 1px 4px $gray;

        font-family: $roboto;
        font-size: 12px;
        font-weight: 500;
        text-shadow: 0px 1px 3px $black;

        cursor: pointer;

        &:nth-child(1) {
            margin-right: 10px;
        }
        &:hover {
            background-color: #2b91e4;
        }
    }
    &__search {
        display: flex;
        align-items: center;
    }
    &__img {
        width: 15px;
        height: 15px;
        margin-right: 10px;
    }
    &__input {
        width: 200px;
        height: 24px;

        box-sizing: border-box;
        border: 1px solid $cal-gray;
        border-radius: 3px;
        box-shadow: 0px -1px $cal-gray;
        background-color: $white;

        font-size: 12px;
    }
}

// navigation
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;

    box-sizing: border-box;
    padding: 12px 0;    

    &__months{
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 125px;
    }
    &__button{
        width: 17px;
        height: 17px;

        display: flex;
        align-items: center;
        justify-content: center;

        border: 1px solid $gray;
        box-shadow: 0 0 2px $gray;
        border-radius: 4px;
        background-color: $white;
        color: $black;

        padding: 0 0 2px 0;

        cursor: pointer;

        &:hover{
            transition: 0.2s ease;
            background-color: $grayish;
        }
    }
    &__month{
        font-family: $roboto;
        font-size: 16px;
    }
    &__day{
        height: 17px;

        display: flex;
        align-items: center;
        justify-content: center;

        border: 1px solid $gray;
        box-shadow: 0 0 2px $gray;
        border-radius: 4px;
        background-color: $white;

        font-family: $roboto;
        font-size: 10px;
        color: $black;

        padding: 0 8px;
        margin-left: 8px;

        cursor: pointer;

        &:hover{
            transition: 0.2s ease;
            background-color: $grayish;
        }
    }
}

// calendar
.calendar{
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    box-sizing: border-box;
    padding-bottom: 64px;
    
    &__day{
        height: 118px;
        border-right: 1px solid $cal-gray;
        border-top: 1px solid $cal-gray;

        box-sizing: border-box;
        padding: 10px;

        font-family: $roboto;
        font-size: 10px;
        color: $gray;

        cursor: pointer;
    
        &:nth-child(7n+1) {
            border-left: 1px solid $cal-gray;
        }
        &:nth-child(1n+29) {
            border-bottom: 1px solid $cal-gray;
        }
        &:hover{
            transition: 0.2s ease;
            background-color: $grayish;
            color: $black;
        }
    }
}
// TODAY
.today{
    background-color: $grayish;
}
// MODAL
.modal {
    display: none;
    position: fixed;
    z-index: 1;

    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    &__content {
        width: 302px;
        height: 330px;

        display: flex;
        flex-direction: row;
        align-items: flex-start;

        box-sizing: border-box;
        padding-left: 20px;
        margin: 15% auto;
        
        box-shadow: 0 0 6px $gray;
        border: 1px solid $gray;
        background-color: $white;
    }
    &__form{
        width: 256px;
        padding-top: 24px;
    }
    &__input {
        width: 100%;
        height: 24px;

        margin-bottom: 5px;
        box-sizing: border-box;
        border: 1px solid $cal-gray;
        border-radius: 3px;
        box-shadow: 0px -1px $cal-gray;
        background-color: $white;

        font-family: $roboto;
        font-size: 12px;
        &:nth-child(3) {
            margin-bottom: 38px;
        }
        &:nth-child(4) {
            height: 116px;
            margin-bottom: 22px;
        }
    }
    &__btn{
        height: 17px;

        border: 1px solid $gray;
        border-radius: 4px;
        background-color: $white;
        color: $black;
        margin-right: 12px;

        cursor: pointer;
        &:hover{
            transition: 0.2s ease;
            background-color: $grayish;
        }

    }
    &__close{
        border: none;
        background-color: $white;
        color: $gray;

        padding: 0px;
        margin: 0 auto;
        margin-top: 4px;

        cursor: pointer;
        &:hover{
            color: $black;
        }
    }
}